.about {
  width: 60%;
  display: flex;
  margin: 0 auto;
  gap: 2.8rem;
}
.about__left {
  flex-basis: 50%;
}

.about__left .title {
  color: #000;
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 3.6px;
}
.about__left .description {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  padding-top: 40px;
}

.about__left .statistical {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.statistical__item {
}

.statistical__item--number {
  font-size: 80px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  color: #079bee;
}

.statistical__item--text {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #000;
}

.about__right {
  flex-basis: 50%;
  background-color: #EEE;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right__list{
  max-width: calc(100% - 150px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}

.list__item{
  display: flex;
  align-items: center;
  gap: 24px;
}

.list__item .item__icon{
  width: 50px;
  height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #E3FCFF;
}

.list__item .item__content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item__content--title{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; 
  color: #000;
}

.item__content--caption{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
