.banner {
  width: 100%;
  height: 100%;
  background: url(/src/assets/image/fairy.png) bottom left no-repeat,
    url(/src/assets/image/banner_bg.png) bottom center no-repeat;
  position: relative;
}

.banner__ellipse {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.banner__content {
  width: 100%;
  max-width: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
}
.content__title {
  font-size: 80px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-family: "Playfair Display";
}
.content__calendar {
  background-color: #fff;
  border-radius: 21px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 26px 39px;
  column-gap: 52px;
  margin: 21px;
}
.calendar__item--count,
.calendar__item--label,
.calendar__divider {
  text-align: center;
  color: #000;
}
.calendar__item--count {
  font-size: 60px;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: 4.8px;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Playfair Display";
  margin-bottom: 8px;
}
.calendar__item--label {
  font-size: 15.641px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0625px;
  font-feature-settings: "clig" off, "liga" off;
  text-transform: capitalize;
}
.calendar__divider::before {
  content: ":";
  font-size: 65.172px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: -0.652px;
}

.banner__newLetter {
  margin-top: 86px;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.banner__newLetter--desc {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.26;
}
