.banner {
  width: 100%;
  height: fit-content;
  background: url(/image/fairy.png) bottom left no-repeat,
    url(/image/banner_bg.png) top center no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
}

.calendar__item{
  min-width: 80px;
}

.banner__ellipse {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.banner__content {
  width: 860px;
  max-width: calc(100% - 24px);
  margin: 294px auto 202px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
.content__title {
  font-size: 80px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-family: "Playfair Display";
}
.content__calendar {
  background-color: #fff;
  border-radius: 21px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 26px 39px;
  column-gap: 52px;
  margin: 21px;
}
.calendar__item--count,
.calendar__item--label,
.calendar__divider {
  text-align: center;
  color: #000;
}
.calendar__item--count {
  font-size: 60px;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: 4.8px;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Playfair Display";
  margin-bottom: 8px;
}
.calendar__item--label {
  font-size: 15.641px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0625px;
  font-feature-settings: "clig" off, "liga" off;
  text-transform: capitalize;
}
.calendar__divider::before {
  content: ":";
  font-size: 65.172px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: -0.652px;
}

.banner__newLetter {
  margin-top: 86px;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.banner__newLetter--desc {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.26;
}

.banner__fairy{
  display: none;
}

/* medium screen*/
@media only screen and (max-width: 1366px) {
}

/* mobile */
@media only screen and (max-width: 768px) {
  .banner{
    background: url(/image/banner_bg.png) top center no-repeat !important;
  }
  .banner__fairy{
    display: flex;
    justify-content: center;
    padding-left: 32px;
    margin-top: -80px;
  }
  .banner__content {
    margin: 100px auto;
  }
  .content__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0.6px;
    display: inline-grid;
  }

  .content__calendar {
    padding: 24px;
    margin: unset;
    margin-top: 38px !important;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px;
    column-gap: 4px;
    max-width: calc(100% - 24px);
  }

  .calendar__item{
    min-width: 55px;
  }

  .calendar__item--count {
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px;
  }

  .calendar__divider::before {
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px;
  }

  .banner__newLetter--desc {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.9px;
  }
}
